In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'a': [-3, -2, 4], 'b': [-2, 2, 5], 'c': [-1, 3, 7], 'd': [1, 4, 8]})

In [2]:
df

   a  b  c  d
0 -3 -2 -1  1
1 -2  2  3  4
2  4  5  7  8

In [3]:
np.sum((df < 0).values.ravel())

NameError: name 'np' is not defined