In [1]:
import pandas as pd
import numpy as np

In [2]:
 df = pd.DataFrame([['hello', 'world', 'hehe'],['hey','crap','woah']], columns=['words1', 'words2', 'words3'])

In [3]:
df

  words1 words2 words3
0  hello  world   hehe
1    hey   crap   woah

In [4]:
df['Count'] = 0

In [5]:
df

  words1 words2 words3  Count
0  hello  world   hehe      0
1    hey   crap   woah      0

In [6]:
for i, item in df.iterrows():
    #df['Count'].iloc[i] = df.iloc[i].str.contains('he')
    df['Count'].iloc[i] = np.sum(df.iloc[i].str.count('he'))

C:\Users\nctha\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [7]:
df

  words1 words2 words3  Count
0  hello  world   hehe    3.0
1    hey   crap   woah    1.0

In [8]:
df.columns.values

array(['words1', 'words2', 'words3', 'Count'], dtype=object)

In [9]:
df['Num'] = 0
for i, item in df.iterrows():
    df['Num'].iloc[i] = np.sum((df['Count'] < 2).values.ravel())

In [10]:
df

  words1 words2 words3  Count  Num
0  hello  world   hehe    3.0    1
1    hey   crap   woah    1.0    1